{{define "content"}}
<div class="max-w-6xl mx-auto w-[max(85vw,15rem)]">
    <input hx-post="/api/addTask" hx-select="#todoItems" hx-swap="outerHTML" hx-target="#todoItems" type="text"
        class="mb-7 w-full h-14 text-3xl rounded px-4 leading-[2.5]" name="addTodo"
        placeholder="Enter something you want to do..." value="">

    <ul id="todoItems" class="mx-4 grid gap-2 max-w-screen-lg">
        {{range $i, $item := .TodoItems}}
        <li class="w-fit grid gap-1 grid-cols-[.1fr_auto]">
            {{if $item.Status}}
            <input class="w-6 aspect-square align-sub" checked type="checkbox" id="dynamic-{{$i}}" />
            {{else}}
            <input class="w-6 aspect-square align-sub" type="checkbox" id="dynamic-{{$i}}" />
            {{end}}
            <label for="dynamic-{{$i}}" class="text-xl">{{$item.Label}}</label>
        </li>
        {{end}}
    </ul>
</div>
{{end}}
